@import "./_home.scss";
@import "./_about.scss";
@import "./_register.scss";
@import "./_login.scss";
@import "./_genres.scss";
@import "./_artists.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #CB1482, #F2BA58);
}